<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Image Crop</title>
    <meta name="description" content="Image crop project">
    <meta name="author" content="donghyun.go">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <div id="container">
        Index page
        <img src="/img/test.jpg">

    </div><!-- /.container -->

    <script src="/js/main.bundle.js"></script>
</body>
</html>